In [1]:
import autoregressiveFunctions as ar
import importlib

import numpy as np
import pandas as pd
from pandas import DataFrame as df

In [18]:
importlib.reload(ar) # if autoregressiveFunctions.py is modified

[ 0.2  0.4 -0.2  1. ]

## Normal innovations

In [ ]:
simulations_normal = ar.iterate_simulations(steps_list, paths=5, a=a, dist='normal', error_var=sigma_2, degree_f=None)

OLS fit

In [8]:
coef = ar.iterate_fit_ar_ols(simulations_normal, p=p)
coef['Real coef'] = a
coef

        100      1000     10000    100000  real coef
0  0.203195  0.186868  0.202898  0.200100        0.2
1  0.394741  0.390801  0.393124  0.398715        0.4
2 -0.226861 -0.215465 -0.206386 -0.201136       -0.2

ML fit

In [15]:
coef = ar.iterate_fit_ar_ML(simulations_normal, p=p, dist='normal', return_df=True)
real_coef = np.hstack([a,[sigma_2]])
coef['Real coef'] = real_coef
coef = coef.rename(index={p+1: 'sigma^2'})
display(coef)

              100      1000     10000    100000  Real coef
0        0.188407  0.163091  0.202332  0.200819        0.2
1        0.375612  0.397585  0.383371  0.399404        0.4
2       -0.188862 -0.207195 -0.189392 -0.200663       -0.2
sigma^2  0.929352  0.944639  1.007454  1.002119        1.0

## Student t innovations

In [16]:
simulations_t = ar.iterate_simulations(steps_list, paths=5, a=a, dist='t', error_var=sigma_2, degree_f=nu)

ML fit

In [19]:
coef = ar.iterate_fit_ar_ML(simulations_t, p=p, dist='t', return_df=True)
real_coef = np.hstack([a,[sigma_2, nu]])
coef['Real coef'] = real_coef
coef = coef.rename(index={p+1: 'sigma^2', p+2: 'nu'})
display(coef)

              100      1000     10000    100000  Real coef
0        0.108625  0.157981  0.197252  0.199120        0.2
1        0.392449  0.420551  0.399096  0.401173        0.4
2       -0.110752 -0.251497 -0.216169 -0.204512       -0.2
sigma^2  0.857566  0.997237  0.999013  1.004102        1.0
nu       7.755837  9.777398  8.645719  8.137878        8.0