In [2]:
import pandas as pd
import os
from pathlib import Path
from tqdm import tqdm

In [8]:
root_folder = r"D:\stockData\FTSE_MIB_stocks_merged"
output_folder = r"D:\stockData\FTSE_MIB_stocks_cleaned"
os.makedirs(output_folder, exist_ok=True)

root_folder = Path(root_folder)
stocks = [f.stem for f in root_folder.glob("*.parquet")]

In [11]:
stocks = ['A2_MI', 'AMPF_MI'] ##  reduced list of stocks for testing

In [ ]:

for stock in tqdm(stocks):

    # Take one stock and save it in a pandas DataFrame
    path = os.path.join(root_folder, stock + '.parquet')
    df = pd.read_parquet(path)


    # Cleaning operations (one stock at the time)


    # Convert to date time and order
    df['DateTime'] = pd.to_datetime(df['DateTime'], errors='coerce')
    df = df.sort_values('DateTime') #.reset_index(drop=True)

    # Remove consecutive duplicates
    mask = df[stock] != df[stock].shift()
    df = df[mask]

    # Save cleaned stock in a parquet file stored in output_path folder
    output_path = os.path.join(output_folder, f"{stock}.parquet")
    df.to_parquet(output_path)

100%|██████████| 2/2 [00:11<00:00,  5.61s/it]

In [23]:
stock = 'A2_MI'

In [24]:
df= pd.read_parquet(os.path.join(output_folder, f'{stock}.parquet' ))

In [25]:
df

          A2_MI                   DateTime
0        0.8515 2014-01-02 08:00:58.042375
4        0.8510 2014-01-02 08:00:58.321609
6        0.8530 2014-01-02 08:01:01.292233
8        0.8510 2014-01-02 08:01:01.491481
9        0.8535 2014-01-02 08:01:40.720786
...         ...                        ...
7445016  2.2380 2025-07-04 15:25:36.512006
7445022  2.2390 2025-07-04 15:27:30.062573
7445027  2.2400 2025-07-04 15:27:48.071644
7445038  2.2410 2025-07-04 15:28:56.376675
7445062  2.2380 2025-07-04 15:35:24.886786

[2122943 rows x 2 columns]

In [39]:
df = pd.read_parquet(os.path.join(root_folder, f'{stock}.parquet'))
df['DateTime'] = pd.to_datetime(df['DateTime'])
df = df.sort_values('DateTime')

In [40]:
df['seq'] = df.groupby('DateTime').cumcount()

df

          A2_MI                   DateTime  seq
0        0.8515 2014-01-02 08:00:58.042375    0
1        0.8515 2014-01-02 08:00:58.132160    0
2        0.8515 2014-01-02 08:00:58.132160    1
3        0.8515 2014-01-02 08:00:58.132160    2
4        0.8510 2014-01-02 08:00:58.321609    0
...         ...                        ...  ...
7445220  2.2380 2025-07-04 15:35:24.913562    8
7445217  2.2380 2025-07-04 15:35:24.913562    9
7445218  2.2380 2025-07-04 15:35:24.913562   10
7445221  2.2380 2025-07-04 15:35:24.913562   11
7445222  2.2380 2025-07-04 15:35:24.932059    0

[7445223 rows x 3 columns]

In [45]:
# imposta MultiIndex (DateTime, seq)
df.set_index(['DateTime', 'seq']).sort_index()

                                 A2_MI
DateTime                   seq
2014-01-02 08:00:58.042375 0    0.8515
2014-01-02 08:00:58.132160 0    0.8515
                           1    0.8515
                           2    0.8515
2014-01-02 08:00:58.321609 0    0.8510
...                                ...
2025-07-04 15:35:24.913562 8    2.2380
                           9    2.2380
                           10   2.2380
                           11   2.2380
2025-07-04 15:35:24.932059 0    2.2380

[7445223 rows x 1 columns]

In [50]:
df.index

Index([      0,       1,       2,       3,       4,       5,       6,       7,
             8,       9,
       ...
       7445211, 7445214, 7445215, 7445216, 7445219, 7445220, 7445217, 7445218,
       7445221, 7445222],
      dtype='int64', length=7445223)

In [1]:
import multiprocessing as mp

In [2]:
mp.cpu_count()

16

In [ ]:
# map (input: funzione, iterable)